<style>
    #school-update {
        padding: 20px 25px 25px 0;
    }

    #school-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="school-update">
    <form class="layui-form" action="" lay-filter="school-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">学校名称：</label>
            <div class="layui-input-block">
                <select name="schoolId" id="schoolId">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程：</label>
            <div class="layui-input-block">
            	<select name="subject" id="subjectInfo">
                </select>
                
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年级:</label>
            <div class="layui-input-block"  style="width: 180px;">
                <select name="grade" id="classInfo">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">位置：</label>
            <div class="layui-input-block">
                <input type="text" name="location" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">数量：</label>
            <div class="layui-input-block">
                <input type="text" name="containNum" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">简介：</label>
            <div class="layui-input-block">
                <textarea name="introduce" maxlength="100" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">播放地址：</label>
            <div class="layui-input-block">
                <input type="text" name="url" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" style="text-align: right">
            <button class="layui-btn" lay-submit="" lay-filter="classroomInfo-update-form-submit" id="submit">提交</button>
            <button class="layui-btn layui-btn-primary" id="remove">取消</button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">

    layui.use(['febs', 'form', 'formSelects', 'laydate','validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $form = $('form'),
            grade=$('#classInfo'),
            subjectInfo=$('#subjectInfo'),
            school=$('#schoolId'),
            classroomInfo = [[${classroomInfo}]],
            $view = $('#school-update'),
            $remove=$view.find('#remove'),
            validate = layui.validate;
        getSchool();
        getGrade();
        getSubject();
        initUserValue();
        form.verify(validate);
        form.render();


        function getGrade() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=grade",
                success:function (res) {
                    var items=res.data;
                    if (res.data.length==0){
                        grade.append('<option value="'+""+'">'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                            if (items[i].v===classroomInfo.grade){
                                grade.append('<option selected="selected">' + items[i].v + '</option>');
                            }
                            else{grade.append('<option>' + items[i].v + '</option>');}
                        }
                    }
                    form.render('select');
                }
            });
        }

        function getSchool() {
            febs.get(ctx+'school/list',null,function (res) {
                var items=res.data;
                if (items.total==0){
                    school.append('<option value="'+""+'">'+""+'</option>');
                }else{
                    school.append('<option value="' + items.rows[0].schoolId + '">' + items.rows[0].schoolName+ '</option>');
                }
                form.render('select');
            });
        }
        
        function getSubject() {
            $.ajax({
                type:'get',
                url: ctx+"dict?field=subject",
                success:function (res) {
                    var items=res.data;
                    if (items.length==0){
                        subjectInfo.append('<option>'+""+'</option>');
                    }else{
                        for (var i=0;i<items.length;i++) {
                        	subjectInfo.append('<option>' + items[i].v + '</option>');
                        }
                    }
                    form.render('select');
                }
            });
        }
        function initUserValue() {
            form.val("school-update-form", {
                "location": classroomInfo.location,
                "containNum": classroomInfo.containNum,
                "introduce": classroomInfo.introduce,
                "url": classroomInfo.url,
                "subject": classroomInfo.subject,
                "garde": classroomInfo.garde
            });
        }

        $remove.on("click",function(){
            layer.closeAll();
        })

        form.on('submit(classroomInfo-update-form-submit)', function (data) {
        	data.field.schoolId=classroomInfo.schoolId;
        	data.field.id =classroomInfo.id;
            data.field.grade=$("#classInfo option:selected").val();
            if (febs.nativeEqual(data.field, classroomInfo)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }

            $("#submit").addClass("layui-btn layui-btn-radius layui-btn-disabled").prop("disabled",true);
            febs.post(ctx + 'classroomInfo/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('教室信息修改成功');
                $('#febs-classroomInfo').find('#query').click();
            });
            return false;
        });
    });
</script>