<style>
    #febs-user-detail #user-img, #febs-user-detail .user-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-user-detail #user-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-user-detail #user-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-user-detail .user-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-user-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-user-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-user-detail" lay-title="教室信息">
	<div id="user-info-wrapper">
        <div class="user-info">
           <div><span class="layui-icon layui-icon-user"></span> 位置：
                 [[${classroomInfo.location}]]
            </div>
            <div><span class="layui-icon layui-icon-home"></span> 数量：
                [[${classroomInfo.containNum}]]
            </div>
            <div><span class="layui-icon layui-icon-home"></span> 简介：
                [[${#strings.defaultString(classroomInfo.introduce,'暂无简介')}]]
            </div>
            <div><span class="layui-icon layui-icon-home"></span> 链接：
                [[${classroomInfo.url}]]
            </div>
            <div><span class="layui-icon layui-icon-home"></span> 状态：
                [[${classroomInfo.state}]]
            </div>
            <div><span class="layui-icon layui-icon-home"></span> 课程：
                [[${classroomInfo.subject}]]
            </div>
             <div><span class="layui-icon layui-icon-trophy"></span> 年级：
                [[${classroomInfo.garde}]]
            </div>
        </div>
    </div>
</div>