<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.area.mapper.AreaMapper">

    <resultMap id="area" type="cc.mrbird.febs.basicInfo.area.entity.Area">
        <id column="area_code" jdbcType="char" property="areaCode"/>
        <result column="province" jdbcType="char" property="province"/>
        <result column="city" jdbcType="char" property="city"/>
        <result column="country" jdbcType="char" property="country"/>
    </resultMap>
</mapper>
