<style>
    #user-add {
        padding: 20px 25px 25px 0;
    }
    #user-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="user-add">
    <form class="layui-form" action="" lay-filter="user-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">学校名称：</label>
            <div class="layui-input-block">
                <input type="text" name="schoolName" minlength="2" maxlength="10"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">学校简介：</label>
            <div class="layui-input-block">
                <textarea name="introduce" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">学校类别：</label>
            <div class="layui-input-block">
                <input type="radio" name="schoolType" value="主校" title="主校">
                <input type="radio" name="schoolType" value="分校" title="分校">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主负责人：</label>
            <div class="layui-input-block">
                <input type="text" name="linkMan" minlength="2" maxlength="10"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="linkPhone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮编：</label>
            <div class="layui-input-block">
                <input type="text" name="postCode"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地区编码：</label>
            <div class="layui-input-block">
                <input type="text" name="areaCode"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学校地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-label-sm">创建时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="createTime" class="layui-input" id="time">
                <!--<input type="text" name="createTime" id="createTime" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">附件：</label>
            <div class="layui-input-block">
                <input type="text" name="certificateBook"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'laydate','validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#user-add'),
            laydate = layui.laydate,
            validate = layui.validate,
            sortObject = {field: 'createTime', type: null};

        form.verify(validate);
        form.render();

        formSelects.render();

        treeSelect.render({
            elem: $view.find('#user-add-dept'),
            type: 'get',
            data: ctx + 'dept/select/tree',
            placeholder: '请选择',
            search: false
        });

        laydate.render({
            elem: '#time'
/*             range: true,
            trigger: 'click' */
        });

     
        formSelects.config('user-add-role', {
            searchUrl: ctx + 'role',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].roleName,
                        value: data[i].roleId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取角色列表失败');
            }
        });

        form.on('submit(user-add-form-submit)', function (data) {
            data.field.createTime=new Date(data.field.createTime);
            febs.post(ctx+'basicInfo/school', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增学校成功');
                $('#febs-user').find('#query').click();
            });
            return false;
        });
    });
</script>