<style>
    #timetable-update {
        padding: 20px 25px 25px 0;
    }

    #timetable-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="timetable-update">
    <form class="layui-form" action="" lay-filter="timetable-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">授课名称：</label>
            <div class="layui-input-block">
                <input type="text" name="coursename" data-th-value="${timetable.coursename}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">授课人：</label>
            <div class="layui-input-block">
                <input type="text" name="user_id" lay-verify="user_id" maxlength="50" autocomplete="off"
                       class="layui-input" data-th-value="${timetable.user_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授课时间：</label>
            <div class="layui-input-block">
                <input type="date"  name="begindate" lay-verify="begindate" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">授课时长：</label>
            <div class="layui-input-block">
                <input type="text" name="duration" lay-verify="duration" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">学科：</label>
            <div class="layui-input-block">
                <input type="text" name="subject" lay-verify="subject" maxlength="50" autocomplete="off"
                       class="layui-input" data-th-value="${timetable.subject}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">班级：</label>
            <div class="layui-input-block">
                <input type="text" name="class_id" lay-verify="class_id" maxlength="50" autocomplete="off"
                       class="layui-input" data-th-value="${timetable.class_id}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">年级：</label>
            <div class="layui-input-block">
                <input type="text" name="grade" lay-verify="grade" maxlength="50" autocomplete="off"
                       class="layui-input" data-th-value="${timetable.grade}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">学期：</label>
            <div class="layui-input-block">
                <input type="text" name="term" lay-verify="term" maxlength="50" autocomplete="off"
                       class="layui-input"data-th-value="${timetable.term}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属学校：</label>
            <div class="layui-input-block">
                <select name="schoolId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="timetable-update-school"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="timetable-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            timetable = [[${timetable}]],
            begindate = [[${begindate}]],
            $view = $('#timetable-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        inittimetableValue();
        formSelects.render();

        formSelects.config('timetable-update-school', {
            searchUrl: ctx + 'school/getAllSchools',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].schoolName,
                        value: data[i].schoolId
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('timetable-update-school', [timetable.schoolId]);
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取学校列表失败');
            }
        });

        function inittimetableValue() {
            //alert(timetable.buytTime);
            form.val("timetable-update-form", {
                "coursename": timetable.coursename,
                "begindate": timetable.begindate,
                "duration": timetable.duration,
                "user_id": timetable.user_id,
                "subject": timetable.num,
                'class_id': timetable.class_id,
                'grade':timetable.grade,
                "term": timetable.term,
                "schoolId":timetable.schoolId,

            });
        }

        form.on('submit(timetable-update-form-submit)', function (data) {
            //alert("xxx23");
            if (febs.nativeEqual(data.field, timetable)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            data.field.buytTime = new Date(data.field.buytTime);
            febs.post(ctx + 'timetable/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(data.field.deviceName + ' 数据修改成功');
                $('#febs-timetable').find('#query').click();
            });
            return false;
        });
    });
</script>