<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.ClassroomInfoMapper">

    <resultMap id="classroomInfo" type="cc.mrbird.febs.basicInfo.entity.ClassroomInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="location" jdbcType="CHAR" property="location"/>
        <result column="contain_num" jdbcType="INTEGER" property="containNum"/>
        <result column="introduce" jdbcType="CHAR" property="introduce"/>
        <result column="url" jdbcType="CHAR" property="url"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="garde" jdbcType="VARCHAR" property="garde"/>
    </resultMap>

    <select id = "getClassroomInfoByCityCountry" resultType="cc.mrbird.febs.basicInfo.entity.ClassroomInfo" parameterType = "map">
        select * from jcc_classroom_info room
          LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
          WHERE  1 = 1
            <if test = "map.provinceDeptId != null">
                and school.province_dept_id = #{map.provinceDeptId}
            </if>
            <if test = "map.cityDeptId != null">
                and school.city_dept_id = #{map.cityDeptId}
            </if>
            <if test ="map.countryDeptId != null">
                and school.country_dept_id = #{map.countryDeptId}
            </if>
    </select>

    <select id="getClassroomCount" parameterType="map" resultType="java.lang.Integer">
        SELECT count(1) FROM jcc_classroom_info room
        LEFT JOIN jcc_school_info school ON room.school_id = school.school_id
        WHERE  1 = 1
        <if test = "map.provinceDeptId != null">
            and school.province_dept_id = #{map.provinceDeptId}
        </if>
        <if test = "map.cityDeptId != null">
            and school.city_dept_id = #{map.cityDeptId}
        </if>
        <if test ="map.countryDeptId != null">
            and school.country_dept_id = #{map.countryDeptId}
        </if>
    </select>
</mapper>
