<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.basicInfo.mapper.SchoolMapper">

    <resultMap id="school" type="cc.mrbird.febs.basicInfo.entity.School">
        <id column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="school_type" jdbcType="VARCHAR" property="schoolType"/>
        <result column="link_man" jdbcType="VARCHAR" property="linkMan"/>
        <result column="link_phone" jdbcType="VARCHAR" property="linkPhone"/>
        <result column="post_code" jdbcType="VARCHAR" property="postCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="province_dept_id" jdbcType="BIGINT" property="provinceDeptId"/>
        <result column="city_dept_id" jdbcType="BIGINT" property="cityDeptId"/>
        <result column="country_dept_id" jdbcType="BIGINT" property="countryDeptId"/>
        <result column="school_category" jdbcType="VARCHAR" property="schoolCategory"/>
        <result column="city_leader_name" jdbcType="VARCHAR" property="cityLeaderName"/>
        <result column="province_leader_name" jdbcType="VARCHAR" property="provinceLeaderName"/>
        <result column="city_date" jdbcType="DATE" property="cityDate"/>
        <result column="province_date" jdbcType="DATE" property="provinceDate"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="state" jdbcType="INTEGER" property="picture"/>
        <result column="belongId" jdbcType="INTEGER" property="belongId"/>
    </resultMap>

</mapper>
